

.book_nd_fluid {

    background-image: url("../images/background_book.jpg");
    width: 100%;
    padding: 100px 0;
}


.book_nd_main_content {
	max-width: 1200px;
	width: 80%;
	background-image: url("../images/paper.jpg");
	height: 100%; box-shadow: inset 0px 0px 50px 0px rgba(158,106,15,0.85); 
	background-position: center center;
	margin:0 auto;
    border-radius: 5px;
    padding: 50px 0px;
    position: relative;

	.book_nd_main_content_bg {
        position: absolute;
        top: 1%;
        left: 1%;
        z-index: 100;

         img {
                max-width: 85px;
                border-radius: 20px;
                opacity: .7;
                transition: .6s;
                filter: grayscale(1);
                    filter: sepia(1);
                cursor: pointer;


                &:hover{
                    filter:unset;
                }
         }
    }


    .book_nd_main_content_bottom_bg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1%;
        z-index: 10;

         img {
            max-height: 85px;
         }
    }
}


.book_nd_tittle {
    position: relative;
    text-align: center;

      h2 {
        font-size: 65px;
         letter-spacing: 5px;
         color: #000;


      }

      .book_nd_ornament {
        position:absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        text-align: center; 

           img {
            max-width: 200px;
           }
      }
}


.book_nd_main_text {

    padding: 100px 0;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

      p {

         font-style: italic;
         text-align: justify;
         font-size: 19px;
        text-indent: 30px;

            &:first-letter {
                font-size:24px;
                font-weight: bold;
            }




      }
}


/*// biography*/



.biography_fluid {
    width: 100%; 
    padding: 100px 0;
    background-position: center;
    background-size: cover;
    background-color: rgba(87, 61, 38, 1);


      .biography_nd_tittle {
        text-align: center;
        position: relative;

                .bio_tittle_orn {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 100;
                    top: 100%;
                     img {
                           width: 300px;
                         filter: brightness();
                     }
                }

          h2 {
           font-size: 65px;
            letter-spacing: 5px;
            color: #000;
            user-select: none;
            text-shadow: 9px 6px 20px #000;
            font-weight: bold;
             }
      }

    .biography_nd_main_content {

    max-width: 1300px;
    width: 80%;
    margin:0 auto;
   /* border-radius: 10%;*/
    padding: 50px 0px;
    position: relative;
    background-image: linear-gradient(rgba(87, 61, 38, 0.2),rgba(87, 61, 38, 0.2)) ,url("../images/Background Old Paper 1200x1815 - Copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

    .biography_nd_main_text {
            padding: 100px 0 55px;
            max-width: 990px;
            width: 90%;
            margin: 0 auto;

              p {

                 font-style: italic;
                 text-align: justify;
                 font-size: 19px; 
                 user-select: none;
                font-weight: bold;
                text-indent: 30px;


                 &:first-letter{
                    font-size:22px;
                    font-weight: bold;
                 }  
         }
    }
}

.biography_img {
    text-align: center;
 

     img {

        filter: grayscale(1);
         width: 200px;
         transition:.7s;
         cursor: pointer;
         filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.8));

        &:hover{
            
        filter: drop-shadow(15px 16px 10px rgba(0,0,0,0.8));
        transform: translateY(-5px);
        }
     }
}


.facts_content {
    max-width: 1200px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(87, 61, 38, 0.15),
    rgba(87, 61, 38, 0.15)),url("../images/pexels-photo-884452.jpeg");
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px 0px;
    position: relative;
   /* box-shadow: inset 0px 0px 50px 0px rgba(158, 106, 15, 0.85);*/
}

.facts_fluid {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background-image: url(../images/pexels-photo.jpg);
}

.reviews_nd_nd_fluid {
    position: relative;
    width: 100%;
    padding: 100px 0;
    background-image: linear-gradient(to right, rgba(87, 61, 38, 0.45),rgba(87, 61, 38, 0.45)),url("../images/test/photo-1524098837898-6b1c101a85f6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.reviews_nd_main_content {
    max-width: 1200px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(87, 61, 38, 0.15),rgba(87, 61, 38, 0.15)),url("../images/test/rawpixel-594858-unsplash.jpg");
    background-position: center center;
    margin: 0 auto;
    border-radius: 5px;
    background-size: cover;
    padding: 50px 0px;
    position: relative;


      .reviews_dec_img {
        position: absolute;
        z-index: 100;
        top: 5%;
        right: 5%;

          img {
            width: 200px;
            transition: .4s;
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
            cursor: pointer;

            &:hover{
                    filter: drop-shadow(15px 16px 10px rgba(0, 0, 0, 0.8));
                 transform: translateY(-5px);
            }
          }
      }
}


.reviews_nd_main_text {
    padding: 45px 0 100px;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
 

     p,span  {
        text-align: justify;
        font-weight: bold;
        font-size: 19px;
        text-indent: 30px;
        font-family: 'Conv_bpg_nino_medium_caps' !important;

            &:first-letter {
                font-size:23px;
            }
     }
}

.revies_nd_main_img {
    text-align: center;
    overflow: hidden;


     img {
        
            border-radius: 50%;
            width: 180px;
            height: 220px;
            object-fit: cover;
     }

     h3 {
            font-weight: bold;
            font-size: 42px;
            letter-spacing: 4px;
            margin-top: 10px;
            user-select: none;
            font-family: 'Conv_bebas-neue-regular'


 

            

     }
}

.reviews_dec_bott {
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

      img  {
        width: 285px;
      }
}




/*// charackters*/

.characters_fluid {
    background: linear-gradient(to right, rgba(87, 61, 38, 0.8), rgba(87, 61, 38, 0.8)), url(../images/test/photo-1463143296037-46790ff95a7e.jpg);
    overflow: hidden;
    background-position: center;
    background-size: cover;

    h4 {
       color: #b38534;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    font-family: arial;
        margin-top: 10px;

    }

    .review_cont .reviews_box .reviews_img {
        margin: 0 auto;
    }
}


.book_r_content {
    height: calc(100% - 20px);
    overflow-y: scroll;
    padding: 0 10px 0 5px;
        span {
            font-size: 12px;
            text-align: justify;
        }
}

.book_r_content::-webkit-scrollbar{
    width: 1px;

}


.characters_nd_fluid {
  width: 100%;
  padding: 100px 0;
    background-image: linear-gradient(to right, rgba(87, 61, 38, 0.75), rgba(87, 61, 38, 0.75)), 
    url(../images/test/background-blank-canvas-877700.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  .characters_nd_main_content {
      
      background-image: linear-gradient(to right, rgba(87, 61, 38, 0.2), rgba(87, 61, 38, 0.2)), 
      url(../images/test/rawpixel-594858-unsplash.jpg);
      background-size: 100%;
      background-position: top;
      max-width: 1200px;
      width: 90%;
      margin: 0 auto;
      padding: 80px 0px;
  }

  .characters_nd_main_img {
    text-align: center;

    img {
     width: 200px;
     border-radius: 50%;

    }
  }

  h4 {
    font-family: 'Conv_bebas-neue-bold';
        margin-top: 20px;
        font-size: 34px;

  }

  span {
    color: #000;
    font-family: 'Conv_BPG_Glaho' !important;
    font-size: 25px;
  }

  .characters_nd_main_text {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0;

      p,span {
            font-family: 'Conv_bpg_nino_medium_caps' !important;
            font-size: 19px;
            color: #000;
            opacity: .9;
            text-indent: 25px;
            font-weight: bold;
      }
  }
}




.facts_main_tittle {
    text-align: center;
    position: relative;
    margin-bottom: 140px;
              img {
                width: 150px;
                border-radius: 10px
              }

    .facts_tittle_decor {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;

        img {
            width: 300px;
        }
    }


    h2 {

    font-family: 'Conv_bebas-neue-bold';
    }

}

.facts_wrapper {
    
    border-top: 3px solid #000;
    border-radius: 0%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 29px;
    margin-bottom: 50px;


        .facts_tittle {

            text-align: center;
            max-width: 360px;
            margin: 0 auto;
            width: 90%;

              h3 {
             font-family: 'Conv_bebas-neue-regular';
            color: #000;
            border: 3px solid #000;
            border-top: none;
            font-weight: bold;
              }

        }

        .facts_text {
            width: 90%;
            margin: 35px auto 40px; 
             p,span {
                color: #000;
                font-family: 'Conv_bpg_nino_mtavruli_normal' !important;
                font-size: 19px;
                font-weight: bold;
             }
        }

}