

.book_nd_fluid {

    background-image: url("../images/background_book.jpg");
    width: 100%;
    padding: 100px 0;
}


.book_nd_main_content {
	max-width: 1200px;
	width: 80%;
	background-image: url("../images/paper.jpg");
	height: 100%; box-shadow: inset 0px 0px 50px 0px rgba(158,106,15,0.85); 
	background-position: center center;
	margin:0 auto;
    border-radius: 5px;
    padding: 50px 0px;
    position: relative;

	.book_nd_main_content_bg {
        position: absolute;
        top: 1%;
        left: 1%;
        z-index: 100;

         img {
                max-width: 85px;
                border-radius: 20px;
                opacity: .7;
                transition: .6s;
                filter: grayscale(1);
                    filter: sepia(1);
                cursor: pointer;


                &:hover{
                    filter:unset;
                }
         }
    }


    .book_nd_main_content_bottom_bg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1%;
        z-index: 10;

         img {
            max-height: 85px;
         }
    }
}


.book_nd_tittle {
    position: relative;
    text-align: center;

      h2 {
        font-size: 65px;
         letter-spacing: 5px;


      }

      .book_nd_ornament {
        position:absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        text-align: center; 

           img {
            max-width: 200px;
           }
      }
}


.book_nd_main_text {

    padding: 100px 0;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;

      p {

         font-style: italic;
         text-align: justify;
         font-size: 19px;



      }
}


/*// biography*/



.biography_fluid {
    width: 100%; 
    padding: 100px 0;
    background-color: rgba(87, 61, 38, 1);


      .biography_nd_tittle {
        text-align: center;
        position: relative;

                .bio_tittle_orn {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 100;
                    top: 100%;
                     img {
                           width: 300px;
                         filter: brightness();
                     }
                }

          h2 {
           font-size: 65px;
            letter-spacing: 5px;
            color: #000;
            user-select: none;
            text-shadow: 9px 6px 20px #000;
            font-weight: bold;
             }
      }

    .biography_nd_main_content {

    max-width: 1300px;
    width: 80%;
    margin:0 auto;
    border-radius: 10%;
    padding: 50px 0px;
    position: relative;
    background-image: linear-gradient(rgba(87, 61, 38, 0.2),rgba(87, 61, 38, 0.2)) ,url("../images/Background Old Paper 1200x1815 - Copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

    .biography_nd_main_text {
            padding: 100px 0 55px;
            max-width: 990px;
            width: 90%;
            margin: 0 auto;

              p {

                 font-style: italic;
                 text-align: justify;
                 font-size: 19px; 
                 user-select: none;


                 &:first-letter{
                    font-size:22px;
                    font-weight: bold;
                 }  
         }
    }
}

.biography_img {
    text-align: center;
 

     img {

        filter: grayscale(1);
         width: 300px;
         transition:.7s;
         cursor: pointer;
         filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.8));

        &:hover{
            
        filter: drop-shadow(15px 16px 10px rgba(0,0,0,0.8));
        transform: translateY(-15px);
        }
     }
}