*{
	margin: 0;
	padding: 0;
	outline: none;
	list-style-type: none;
	text-decoration: none;
	box-sizing:border-box;


}
a:hover {
	text-decoration: none;
}

a {
	color: #000;
}
* {
	&:focus {
		outline: none;
	}
	
}
html,body {
	height: 100%;
}

@font-face {
	font-family: 'Conv_bebas-neue-regular';
	src: url('../fonts/bebas-neue-regular.eot');
	src: local('☺'), url('../fonts/bebas-neue-regular.woff') format('woff'), url('../fonts/bebas-neue-regular.ttf') format('truetype'), url('../fonts/bebas-neue-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_aSHALVA';
	src: url('../fonts/aSHALVA.eot');
	src: local('☺'), url('../fonts/aSHALVA.woff') format('woff'), url('../fonts/aSHALVA.ttf') format('truetype'), url('../fonts/aSHALVA.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_web_002_caps';
	src: url('../fonts/bpg_web_002_caps.eot');
	src: local('☺'), url('../fonts/bpg_web_002_caps.woff') format('woff'), url('../fonts/bpg_web_002_caps.ttf') format('truetype'), url('../fonts/bpg_web_002_caps.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_nino_medium_caps';
	src: url('../fonts/bpg_nino_medium_caps.eot');
	src: local('☺'), url('../fonts/bpg_nino_medium_caps.woff') format('woff'), url('../fonts/bpg_nino_medium_caps.ttf') format('truetype'), url('../fonts/bpg_nino_medium_caps.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bebas-neue-bold';
	src: url('../fonts/bebas-neue-bold.eot');
	src: local('☺'), url('../fonts/bebas-neue-bold.woff') format('woff'), url('../fonts/bebas-neue-bold.ttf') format('truetype'), url('../fonts/bebas-neue-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_web';
	src: url('../fonts/bpg_web.eot');
	src: local('☺'), url('../fonts/bpg_web.woff') format('woff'), url('../fonts/bpg_web.ttf') format('truetype'), url('../fonts/bpg_web.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_BPG_Glaho';
	src: url('../fonts/BPG_Glaho.eot');
	src: local('☺'), url('../fonts/BPG_Glaho.woff') format('woff'), url('../fonts/BPG_Glaho.ttf') format('truetype'), url('../fonts/BPG_Glaho.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_bpg_nino_mtavruli_normal';
	src: url('../fonts/bpg_nino_mtavruli_normal.eot');
	src: local('☺'), url('fonts/bpg_nino_mtavruli_normal.woff') format('woff'), url('../fonts/bpg_nino_mtavruli_normal.ttf') format('truetype'), url('../fonts/bpg_nino_mtavruli_normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


